#
# Copyright (c) 2022 University of Colorado
# Licensed under the MIT license. See LICENSE.txt file in the MORIS root for details.
#
#------------------------------------------------------------------------------------
#

namespace moris {

/** \page EXA_<Example Name> <Example Name>

# Problem Description
# Problem Setup
# Analytical Solution
# Literature
# Developer Notes

*/

}

